.counterBox {
  background-color: #c0c0c0;
}

.basicBtns {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countNum {
  font-size: 5em;
  text-shadow: 4px 6px 10px #000000;
}

button {
  outline: none;
  border-radius: 3px;
  margin: 0.5em;
  height: 2em;
  font-size: 1.5em;
  box-shadow: 1px 2px 10px #000000;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  background-color: #fffafa;
  color: #191970;
}

button:active {
  border: 1px solid #fffafa;
  background-color: #000000;
  color: #c0c0c0;
}
