.counterBox {
  background-color: #c0c0c0;
}

.basicBtns {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countNum {
  text-shadow: 4px 6px 10px #000000;
}
