.counterBox {
  background-color: #c0c0c0;
}

button {
  border-radius: 3px;
  margin: 0.5em;
  height: 2em;
  font-size: 1.5em;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  background-color: #fffafa;
  color: #191970;
}
